#input{
    border: 2px solid brown;
    border-radius: 15px;
    width: 35vw;
    outline: none;
    height: 25px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1vw;
}