.courses-wrapper{
    border: 1px solid blue;
    margin-top: 0.525vw;
    border-radius: 0.788vw;
}

.search-wrapper{
    display: flex;
    flex-direction: row;
}


.courses-top-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.788vw;
}
