.course-card-wrapper{
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    margin-left: 1.314vw;
    margin-right: 1.314vw;
    border-radius: 15px;
    margin-top: 0.525vw;
    justify-content: space-between;
}


.course-name{
    font-size: 50px;
}

.course-decs{
    width: 60vw;
}

.leftside{
    display: flex;
    flex-direction: column;
    margin-left: 1.314vw;
}

.rightside{
    display: flex;
    flex-direction: column;
    margin-right: 1.314vw;
    margin-bottom: 0.525vw;
    width: 20vw;
    justify-content: center;
}

.buttons-wrapper{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: -5px;
}

.buttons-wrapper button{
    margin: 5px;
}

@media(max-width: 860px){
    .course-card-wrapper{
        flex-direction: column;
    }

    .rightside{
        margin-right: 0px;
        margin-left: 1.314vw;
    }

    .course-decs{
        width: 84vw;
    }
}